.game {
  border: 2px darkorange solid;
  cursor: crosshair;
  position: relative;
  height: calc(100vh - 300px);
}

hr {
  margin: 0;
  position: absolute;
  width: 100%;
  border: 2px dashed darkorange;
}

hr.vertical {
  margin-left: -50%;
  transform: rotate(90deg);
}

.noise, .surface {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.noise {
  background-image: url('/assets/noise.gif');
  background-repeat: repeat;
}

.planet {
  background-image: url('/assets/planet.png');
  margin: -15px 0 0 -15px;
  position: absolute;
  height: 30px;
  width: 30px;
}

.detected-message {
  border: 2px dashed darkorange;
  background: rgba(0,0,0, 0.5);
  color: darkorange;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  left: calc(50% - 150px);
  top: calc(50% - 42px);
  height: 24px;
  width: 240px;
}
